<!-- <div class="card mb-3">
  <div class="row g-0">
    <div class="col-md-5">
      <img
        [src]="imageUrl"
        class="img-fluid rounded-start"
        alt="product image"
      />
    </div>
    <div class="col-lg-5">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in
          to additional content. This content is a little bit longer.
        </p>
        <p class="card-text">
          <small class="text-body-secondary">Last updated 3 mins ago</small>
        </p>
      </div>
    </div>
  </div>
</div> -->

<section class="col-lg-12 product-container">
  <div class="row">
    <div class="col-lg-3">
      <img [src]="imageUrl" class="product-img" alt="product image" />
    </div>
    <div class="col-lg-3">
      <h6>Perfume</h6>
      <h1>Gabrielle Essence Eau De Parfum</h1>
      <p>
        A floral, solar and voluptuous interpretation composed by Olivier Polge,
        Perfumer-Creator for the House of CHANEL.
      </p>
      <p>$149.99 <span>$169.99</span></p>
      <button class="btn">
        <img src="../assets/images/icon-cart.svg" alt="icon-cart" /> Add to Cart
      </button>
    </div>
  </div>
</section>
