/* You can add global styles to this file, and also import other style files */
body {
  background-color: hsl(30, 38%, 92%);
  display: grid;
  place-items: center;
  height: 100vh;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Montserrat", sans-serif;
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
}
